/* Mostly taken from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */
@-webkit-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-moz-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-o-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-webkit-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-o-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-moz-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.static.experience-graph {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px; }
  .static.experience-graph .body-contents {
    padding: 30px;
    background: #fff;
    /* center it */ }
    .static.experience-graph .body-contents img {
      display: block;
      margin: 0 auto; }
    .static.experience-graph .body-contents h1 {
      color: #DB4040;
      font-size: 28px;
      margin: 20px 0;
      width: 50%;
      float: left;
      text-transform: none; }
    .static.experience-graph .body-contents p.left {
      width: 450px;
      display: inline-block; }
    .static.experience-graph .body-contents p.left-short {
      width: 350px;
      display: inline-block;
      margin-top: 1.5em;
      margin-bottom: 0; }
    .static.experience-graph .body-contents img.right {
      float: right; }
    .static.experience-graph .body-contents .signup {
      background: #fff;
      padding-bottom: 30px;
      font-size: 20px;
      margin-top: 10px; }
      .static.experience-graph .body-contents .signup div.or-separator {
        font-size: 16px;
        margin: 10px 0; }
      .static.experience-graph .body-contents .signup p {
        font-size: 16px; }
      .static.experience-graph .body-contents .signup a {
        font-size: 16px;
        margin-left: 5px; }
        .static.experience-graph .body-contents .signup a:hover {
          text-decoration: underline; }
        .static.experience-graph .body-contents .signup a span.sign-up-button {
          font-size: 14px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          display: inline-block;
          min-height: 20px;
          cursor: pointer;
          text-shadow: 0px 1px 0 white;
          color: #444444;
          border: 1px solid #c1c1c1;
          background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
          background: -moz-linear-gradient(top, white, #eeeeee);
          background-color: #f4f4f4;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
          transition-property: all;
          transition-duration: 0.15s;
          transition-timing-function: linear;
          transition-delay: 0s;
          -moz-transition-property: all;
          -moz-transition-duration: 0.15s;
          -moz-transition-timing-function: linear;
          -moz-transition-delay: 0s;
          -webkit-transition-property: all;
          -webkit-transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-property: all;
          transition-duration: 0.15s;
          transition-timing-function: linear;
          transition-delay: 0s;
          -moz-transition-property: all;
          -moz-transition-duration: 0.15s;
          -moz-transition-timing-function: linear;
          -moz-transition-delay: 0s;
          -webkit-transition-property: all;
          -webkit-transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          background: -webkit-gradient(linear, left top, left bottom, from(#2ec4f7), to(#0098cc));
          background: -moz-linear-gradient(top, #2ec4f7, #0098cc);
          background-color: #09b5f0;
          border: 1px solid #0185b2;
          color: #fff;
          text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
          font-size: 26px;
          min-height: 26px;
          line-height: 26px;
          padding: 6px 40px 8px;
          margin-top: 10px; }
          .static.experience-graph .body-contents .signup a span.sign-up-button:hover {
            border: 1px solid #959595;
            background-color: #fcfcfc;
            color: #000; }
          .static.experience-graph .body-contents .signup a span.sign-up-button:active {
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
            border: 1px solid #6e6e6e;
            background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#dddddd));
            background: -moz-linear-gradient(top, #aaaaaa, #dddddd);
            background-color: #d8d8d8; }
          .static.experience-graph .body-contents .signup a span.sign-up-button.disabled {
            opacity: 0.6; }
            .static.experience-graph .body-contents .signup a span.sign-up-button.disabled:hover, .static.experience-graph .body-contents .signup a span.sign-up-button.disabled:active {
              color: #444444;
              border: 1px solid #c1c1c1;
              background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
              background: -moz-linear-gradient(top, white, #eeeeee);
              background-color: #f4f4f4;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
              -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
              -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px white;
              cursor: default; }
          .static.experience-graph .body-contents .signup a span.sign-up-button:hover {
            background: -webkit-gradient(linear, left top, left bottom, from(#30d9ff), to(#049cd0));
            background: -moz-linear-gradient(top, #30d9ff, #049cd0);
            color: #fff;
            background-color: #04bdfd;
            border: 1px solid #0185b2; }
          .static.experience-graph .body-contents .signup a span.sign-up-button:active {
            background: -webkit-gradient(linear, left top, left bottom, from(#068ebc), to(#24abd8));
            background: -moz-linear-gradient(top, #068ebc, #24abd8);
            background-color: #0089b8;
            border: 1px solid #005b7c; }
          .static.experience-graph .body-contents .signup a span.sign-up-button.disabled:hover, .static.experience-graph .body-contents .signup a span.sign-up-button.disabled:active {
            background: -webkit-gradient(linear, left top, left bottom, from(#2ec4f7), to(#0098cc));
            background: -moz-linear-gradient(top, #2ec4f7, #0098cc);
            background-color: #09b5f0;
            border: 1px solid #0185b2;
            color: #fff; }
