/* Mostly taken from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */
@-webkit-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-moz-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-o-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-webkit-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-o-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-moz-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.modal form#signup1,
body.fbsplash .home form#signup,
body.splash .home form#signup,
.modal form#login {
  text-align: center; }
  .modal form#signup1 input[type=password], .modal form#signup1 input[type=text],
  body.fbsplash .home form#signup input[type=password],
  body.fbsplash .home form#signup input[type=text],
  body.splash .home form#signup input[type=password],
  body.splash .home form#signup input[type=text],
  .modal form#login input[type=password],
  .modal form#login input[type=text] {
    margin-top: 7px;
    font-size: 14px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    -moz-transition: border .2s linear, box-shadow .2s linear;
    -webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px white;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px white;
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
    background-image: -webkit-linear-gradient(top, #e6e6e6, white);
    background-image: -moz-linear-gradient(top, #e6e6e6, white);
    background-image: -o-linear-gradient(top, #e6e6e6, white);
    background-image: -ms-linear-gradient(top, #e6e6e6, white);
    background-image: linear-gradient(top, #e6e6e6, white);
    padding: 6px 5px;
    width: 255px;
    border: 1px solid #aaa;
    text-align: left;
    margin-left: 10px; }
    .modal form#signup1 input[type=password]:focus, .modal form#signup1 input[type=text]:focus,
    body.fbsplash .home form#signup input[type=password]:focus,
    body.fbsplash .home form#signup input[type=text]:focus,
    body.splash .home form#signup input[type=password]:focus,
    body.splash .home form#signup input[type=text]:focus,
    .modal form#login input[type=password]:focus,
    .modal form#login input[type=text]:focus {
      border: 1px solid #80bfff;
      -moz-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
      -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset;
      box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, 0.15) inset; }
  .modal form#signup1 .header,
  body.fbsplash .home form#signup .header,
  body.splash .home form#signup .header,
  .modal form#login .header {
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eee;
    width: 100%;
    vertical-align: middle;
    padding: 10px 0;
    margin-top: -20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); }
    .modal form#signup1 .header span,
    body.fbsplash .home form#signup .header span,
    body.splash .home form#signup .header span,
    .modal form#login .header span {
      margin-left: 5px; }
    .modal form#signup1 .header .with-icon .icon,
    body.fbsplash .home form#signup .header .with-icon .icon,
    body.splash .home form#signup .header .with-icon .icon,
    .modal form#login .header .with-icon .icon {
      display: inline-block;
      width: 50px;
      height: 40px;
      background: url(/erly/img/face-bg-large.png) 0 0 no-repeat;
      vertical-align: middle; }
  .modal form#signup1 div.or-container,
  body.fbsplash .home form#signup div.or-container,
  body.splash .home form#signup div.or-container,
  .modal form#login div.or-container {
    font-size: 12px;
    color: #888;
    background: url(/erly/img/or-divider.png) center center no-repeat;
    text-align: center;
    cursor: default;
    margin: 10px 0; }
  .modal form#signup1 div.or-button-bar,
  body.fbsplash .home form#signup div.or-button-bar,
  body.splash .home form#signup div.or-button-bar,
  .modal form#login div.or-button-bar {
    height: 1;
    border-top: solid 1px #ccc;
    position: relative;
    margin: 40px 0; }
    .modal form#signup1 div.or-button-bar div,
    body.fbsplash .home form#signup div.or-button-bar div,
    body.splash .home form#signup div.or-button-bar div,
    .modal form#login div.or-button-bar div {
      position: absolute;
      width: 24px;
      height: 24px;
      top: -12px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      text-transform: uppercase;
      border: solid 1px #ccc;
      background-color: #eee;
      text-align: center;
      color: #333;
      font-size: 12px;
      left: 185px;
      line-height: 24px; }
  .modal form#signup1 .error-shadow,
  body.fbsplash .home form#signup .error-shadow,
  body.splash .home form#signup .error-shadow,
  .modal form#login .error-shadow {
    box-shadow: 0px 1px 5px rgba(255, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(255, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(255, 0, 0, 0.2);
    border: solid 1px #c00; }
  .modal form#signup1 div.error-container,
  body.fbsplash .home form#signup div.error-container,
  body.splash .home form#signup div.error-container,
  .modal form#login div.error-container {
    display: none;
    color: #f44;
    margin-top: 5px; }
    .modal form#signup1 div.error-container ul,
    body.fbsplash .home form#signup div.error-container ul,
    body.splash .home form#signup div.error-container ul,
    .modal form#login div.error-container ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: #f44; }
  .modal form#signup1 .empty-text,
  body.fbsplash .home form#signup .empty-text,
  body.splash .home form#signup .empty-text,
  .modal form#login .empty-text {
    background-color: #F2FAFF !important;
    color: #777777 !important; }
  .modal form#signup1 input[type=submit],
  body.fbsplash .home form#signup input[type=submit],
  body.splash .home form#signup input[type=submit],
  .modal form#login input[type=submit] {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    display: inline-block;
    background: transparent url(/erly/img/button-create-account.png) 0 0;
    width: 190px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: none;
    margin-bottom: 10px;
    border: 0; }
    .modal form#signup1 input[type=submit]:hover,
    body.fbsplash .home form#signup input[type=submit]:hover,
    body.splash .home form#signup input[type=submit]:hover,
    .modal form#login input[type=submit]:hover {
      background-position: 0 -40px; }
    .modal form#signup1 input[type=submit]:active,
    body.fbsplash .home form#signup input[type=submit]:active,
    body.splash .home form#signup input[type=submit]:active,
    .modal form#login input[type=submit]:active {
      background-position: 0 -80px; }
    .modal form#signup1 input[type=submit].disabled,
    body.fbsplash .home form#signup input[type=submit].disabled,
    body.splash .home form#signup input[type=submit].disabled,
    .modal form#login input[type=submit].disabled {
      opacity: 0.5; }
      .modal form#signup1 input[type=submit].disabled:active,
      body.fbsplash .home form#signup input[type=submit].disabled:active,
      body.splash .home form#signup input[type=submit].disabled:active,
      .modal form#login input[type=submit].disabled:active {
        background-position: 0 0; }

.modal form#login {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  width: 390px;
  padding-top: 20px; }
  .modal form#login input[type=password], .modal form#login input[type=text] {
    width: 255px;
    margin-left: 60px; }
  .modal form#login div.facebook-message {
    font-size: 12px;
    color: #888; }
  .modal form#login a {
    text-decoration: underline;
    cursor: pointer;
    color: #0082bf; }
    .modal form#login a:hover {
      color: #0c9acb; }
  .modal form#login div.error-container {
    display: none; }
  .modal form#login div.forgot-password-container {
    margin-right: 60px; }
  .modal form#login .header {
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eee;
    width: 100%;
    vertical-align: middle;
    padding: 10px 0;
    margin-top: -20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); }
    .modal form#login .header span {
      margin-left: 5px; }
    .modal form#login .header .with-icon .icon {
      display: inline-block;
      width: 50px;
      height: 40px;
      background: url(/erly/img/face-bg-large.png) 0 0 no-repeat;
      vertical-align: middle; }
  .modal form#login div.or-button-bar {
    height: 1;
    border-top: solid 1px #ccc;
    position: relative;
    margin: 40px 0; }
    .modal form#login div.or-button-bar div {
      position: absolute;
      width: 24px;
      height: 24px;
      top: -12px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      text-transform: uppercase;
      border: solid 1px #ccc;
      background-color: #eee;
      text-align: center;
      color: #333;
      font-size: 12px;
      left: 185px;
      line-height: 24px; }
  .modal form#login div.signup-blurb {
    color: #888;
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 12px; }

.modal form#signup1 {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  width: 390px;
  padding-top: 20px; }
  .modal form#signup1 input[type=password], .modal form#signup1 input[type=text] {
    width: 255px;
    margin-left: 60px; }
  .modal form#signup1 input[type=password] {
    margin-bottom: 10px; }
  .modal form#signup1 div.facebook-message {
    color: #888;
    font-size: 12px; }
  .modal form#signup1 a {
    text-decoration: underline;
    cursor: pointer;
    color: #0082BF; }
    .modal form#signup1 a:hover {
      color: #0c9acb; }
  .modal form#signup1 div.error-container ul.errors {
    border: none;
    background-color: transparent;
    width: 290px;
    margin: 0 auto; }
  .modal form#signup1 div.error-container {
    display: none;
    padding: 0px; }
  .modal form#signup1 div.login-blurb {
    color: gray;
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 12px; }
