/* Mostly taken from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */
@-webkit-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-moz-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-o-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-webkit-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-o-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-moz-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.viewer-tease {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: solid 2px rgba(255, 255, 255, 0.3);
  color: white;
  margin: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4); }
  .viewer-tease:hover {
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -moz-transition-property: border-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    border: solid 2px rgba(255, 255, 255, 0.7); }
  .viewer-tease .viewer-inner-tease {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 23px 10px 10px;
    background: url(/erly/img/bg-black-70.png); }
  .viewer-tease .no-image {
    padding: 20px !important; }
  .viewer-tease .tease-arrow {
    display: inline-block;
    vertical-align: middle; }
  .viewer-tease .content {
    display: inline-block;
    vertical-align: middle; }
    .viewer-tease .content .item-empty {
      padding: 10px;
      text-align: center;
      font-size: 14px;
      width: 90px; }
    .viewer-tease .content .item {
      text-align: center;
      padding: 5px; }
      .viewer-tease .content .item .stack {
        background: url(/erly/img/icon-cover-image.png) no-repeat 0 0;
        padding: 11px 13px 13px 10px; }
        .viewer-tease .content .item .stack .image {
          overflow: hidden;
          height: 56px;
          width: 77px; }
      .viewer-tease .content .item .count {
        font-size: 26px;
        line-height: 26px;
        font-weight: bold; }
      .viewer-tease .content .item .type {
        color: #aaa;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold; }
