/* Mostly taken from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */
@-webkit-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-moz-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-o-keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes background-black-to-gray {
  0% {
    background: rgba(0, 0, 0, 0.7); }

  50% {
    background: rgba(60, 60, 60, 0.85); }

  100% {
    background: rgba(0, 0, 0, 0.7); } }

@-webkit-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-o-keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@keyframes box-shadow-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); } }

@-moz-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-3 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@-moz-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes pulse-opacity-0 {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.confirm-modal .email-verification a {
  color: #0C9ACB; }
